@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Inter;

    height: 100%;

    --white-color: #FFFFFF;
    --primary-color: #008080;
    --secondary-color: #5BBBF0;
    --accent-color: #FBC105;

    /*Dark mode Controller*/
    --light-color: #FFFFFF;
    --light-color-filter: invert(100%) sepia(0%) saturate(6382%) hue-rotate(100deg) brightness(132%) contrast(112%);
    --dark-color: #121212;
    --dark-color-filter: invert(0%) sepia(0%) saturate(3739%) hue-rotate(193deg) brightness(92%) contrast(86%);

    --main-color: var(--light-color);
    --main-color-filter: invert(100%) sepia(0%) saturate(6382%) hue-rotate(100deg) brightness(132%) contrast(112%);

    --opposite-color: var(--dark-color);
    --opposite-color-filter: invert(0%) sepia(0%) saturate(3739%) hue-rotate(193deg) brightness(92%) contrast(86%);
}

/* Utilidades */
.bold{
    font-weight: bolder;
}

.underline{
    text-decoration: underline;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    hyphens: auto;

    margin-inline: 1em;
    padding-top: 3em;

    background-color: var(--main-color);
}

*{
    box-sizing: border-box;
    word-spacing:-2px;
}

/* Hero */

.modeselect{
    position: absolute;
    top: 3em;
    right: 5%;
    z-index: 2;

}

@media only screen and (max-width: 425px){
    .modeselect{
        top: 1.5em;
        z-index: 3;
        right: 6%;
    }
}

.modeselectbtn {
    background-color: var(--accent-color);

    border: none;
    width: 4vh;
    height: 4vh;
    padding: 2em;

    border-radius: 100%;
    cursor: pointer;
}

.modeselectimg{
    filter: var(--main-color-filter);
    width: 3vh;
    height: 3vh;
    transform: translate(-50%, -50%);
}

.logo{
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--main-color);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    width: 10%;
    min-width: 10em;
    height: auto;

    padding-top: 10em;
}

@media only screen and (max-width: 425px){
    .logo{
        min-width: 15em;
    }
}

.logo img{
    width: 100%;

}

.hero{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2em;
    width: 100%;
    height: 100%;
}

.hero-img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
}

@media only screen and (max-width: 768px){
    .hero-img{
        height: 250%;
    }
}

@media only screen and (max-width: 425px){
    .hero-img{
        height: 500%;
    }
}

.hero-text{
    position: absolute;
    margin-top: 2vw;
    margin-inline: auto;

    font-size: 5vw;
    text-align: center;
    width: 15em;
    color: var(--white-color);
}

@media only screen and (max-width: 768px){
    .hero-text{
        margin-top: 60vw;
        width: 10em;
        font-size: 9vw;
    }
}

@media only screen and (max-width: 425px){
    .hero-text{
        margin-top: 130vw;
        width: 10em;
    }
}

/* Página */

.page{
    position: relative;
    top: -10em;

    width: 100%;
    height: auto;
    padding-top: 15em;
    background-color: var(--primary-color);
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;

    margin-top: 5vh;
    margin-bottom: 20vh;
    padding-top: 5em;
    padding-bottom: 5em;
}

.infoContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--main-color);
}

.info-title{
    width: 60%;
    line-break: strict;

    margin-bottom: 1em;

    font-size: 3em;
    font-weight: 800;
    line-height: 5vw;
    text-align: center;
}

.info-text{
    width: 60%;

    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0.05em;
    text-align: justify;
}

.info-image{
    width: 40%;
    height: 100%;

    border-radius: 3em;
}

@media only screen and (max-width: 768px){
    .info{
        margin-top: 40vw;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .infoContent > .info-title{
        line-height: 1em;
    }

    .infoContent > .info-text{
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .infoContent *{
        width: 70%;
    }

    .info-image{
        width: 70%;
    }
}

@media only screen and (max-width: 425px){
    .info#info1{
        margin-top: 100vw;
    }

    .info#info2{
        margin-top: 50vw;
    }
}

/*Info Modifiers*/

.infoLeft{
    background: linear-gradient(90deg, rgba(91, 187, 240, 0) 0%, #5BBBF0 100%);
    margin-right: 10%;

    flex-direction: row;

    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
}


@media only screen and (max-width: 425px){
    .infoLeft{
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

    
@media only screen and (min-width: 425px){
    .infoLeft > .info-image{
        margin-right: 2vw;
        border-top-right-radius: 0em;
        border-bottom-left-radius: 0em;
    }
}

.infoRight{
    background: linear-gradient(-90deg, rgba(91, 187, 240, 0) 0%, #5BBBF0 100%);
    margin-left: 10%;

    flex-direction: row-reverse;

    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}

@media only screen and (max-width: 425px){
    .infoRight{
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

    
@media only screen and (min-width: 425px){
    .infoRight > .info-image{
        margin-left: 2vw;
        border-top-left-radius: 0em;
        border-bottom-right-radius: 0em;
    }
}

@media only screen and (max-width: 768px){
    .infoLeft, .infoRight{
        flex-direction: column;
    }
}

/*Info Scribbles*/
.scribble{
    z-index: 4;
    position: absolute;
    width: 95%;
}

.infoLeft > .scribble{
    left: 50%;
}

.infoRight > .scribble{
    transform: scaleX(-1);
}

.scribbleTop{
    top: -6%;
    transform: translate(-50%, 0);
}

.scribbleBottom{
    bottom: -7%;
    
    transform: translate(-50%, 0);
}

@media only screen and (max-width: 768px){
    .scribbleTop{
        top: -2%;
    }

    .scribbleBottom{
        bottom: -2%;
    }
}

/*BNCC*/

.bncc{
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 10em;
    padding-bottom: 1em;
    background: linear-gradient(180deg, rgba(91, 187, 240, 0.1875) 0%, rgba(52, 107, 138, 0) 100%);
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;

}

.bnccContent{
    color: var(--main-color);
    padding-bottom: 2vw;
}

.bncc-title{
    font-size: 5em;
    font-weight: bold;
}

@media only screen and (max-width: 425px){
    .bncc-title{
        font-size: 2.5em;
    }
}

.bncc-text{
    padding-top: 7vw;
    font-size: 2em;
    padding-left: 6vw;
    padding-right: 6vw;
}

.bnccCards{
    color: var(--main-color);
    display: flex;
    flex-direction: column;

    align-items: center;
}

#bnccGerais{
    & .bnccCards-card:not(:nth-child(2n)){
        background-color: var(--secondary-color);
        color: var(--main-color);
    }

    & .bnccCards-card:nth-child(2n){
        background-color: var(--main-color);
        color: var(--secondary-color);
    }
}

#bnccEspecificas{
    & .bnccCards-card:not(:nth-child(2n)){
        background-color: var(--main-color);
        color: var(--secondary-color);
    }

    & .bnccCards-card:nth-child(2n){
        background-color: var(--secondary-color);
        color: var(--main-color);
    }
}

.bnccCards-title{
    width: 100%;
    text-align: center;

    font-size: 3em;
    font-weight: bold;
    margin: 2em;

}

@media only screen and (max-width: 425px){
    .bnccCards-title{
        font-size: 1.8em;
    }
}

.bnccCards-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-template-rows: auto auto auto auto;
    row-gap: 2em;
    column-gap: 8em;


    margin-inline: 2em
}

.bnccCards-card{
    padding: 4em;
}

.bnccCards-card-title{
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    
    margin-bottom: 1em;
}

.bnccCards-card-text{
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2em;
}

.waveFx{
    top: -11em;
    position: relative;
}